.top {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
.sprites {
  display: grid;
  grid-template-columns: 50% 50%;
}
.gender {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.sprites img {
  width: auto;
  height: 75%;
  margin: auto;
}
.stats h5 {
  margin: 5px auto;
  text-align: right;
}
.bottom {
  display: grid;
  grid-template-columns: 50% 50%;
}