.pokemon-list-entry {
  display: grid;
  grid-template-columns: 15% 30% 25% 30%;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px auto;
}
.ability {
  width: 90%;
  height: 40px;
  margin: auto;
}
.sprites {
  display: grid;
  grid-template-columns: 50% 50%;
}
.male, .female {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gender {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.sprites img {
  width: auto;
  height: 75%;
  margin: auto;
}
.stats {
  display: flex;
  justify-content: space-between;
}
.stats h5 {
  margin: 5px 0;
}
.bottom {
  display: grid;
  grid-template-columns: 50% 50%;
}
.move-list-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.move-list {
  width: 90%;
  height: 40px;
  margin: auto;
}