#type-coverage {
  min-width: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;
}
#type-coverage h4 {
  text-align: center;
  width: 60px;
  border-radius: 5px;
  margin: 5px auto;
}

.included {
  background-color: green;
}

.not-included {
  background-color: red;
}